In [75]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [76]:
df=pd.read_csv('/content/drive/MyDrive/diabetes.csv')

In [77]:
#printing the first 5 row of dataset
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [78]:
#number of rows and columns in the dataset
df.shape

(768, 9)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [80]:
#getting the statistical measure of the data
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [81]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non-Diabetic \
1 -> Diabetic

In [82]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [83]:
#Separating the data and labels
X=df.drop(columns='Outcome',axis=1)
Y=df['Outcome']

In [84]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [85]:
Y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [86]:
#Data Standerisation
scaler=StandardScaler()

In [87]:
scaler.fit(X)

StandardScaler()

In [88]:
std_scaler=scaler.transform(X)

In [89]:
print(std_scaler)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [90]:
X=std_scaler
Y=df['Outcome']

In [91]:
#Train Test Split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=5)

In [92]:
print(X.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

Training the model

In [93]:
# model=SVC()

In [94]:
#training the support vector machine classifier
#classifier.fit(x_train,y_train)

In [95]:
#Hyperparameter
parameters={
          'kernel':['linear','poly','rbf','sigmoid'],
          'C':[1,5,10,15]
}

In [96]:
#gridsearchcv
from sklearn.model_selection import GridSearchCV
classifier=GridSearchCV(SVC(),parameters,cv=5)
classifier.fit(X,Y)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 15],
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid']})

In [97]:
classifier.cv_results_

{'mean_fit_time': array([0.01400833, 0.01127634, 0.01183486, 0.01459999, 0.029952  ,
        0.01828179, 0.01328478, 0.01256843, 0.05042868, 0.02853274,
        0.01629186, 0.01238627, 0.06077003, 0.03725152, 0.01748605,
        0.01194301]),
 'std_fit_time': array([0.00369037, 0.00044906, 0.0015513 , 0.00068011, 0.00248108,
        0.00157628, 0.00045768, 0.00060338, 0.01117447, 0.00350256,
        0.0016443 , 0.00104851, 0.00624711, 0.00448255, 0.00081551,
        0.00048469]),
 'mean_score_time': array([0.00177722, 0.00194659, 0.00363717, 0.0034802 , 0.00179834,
        0.00200582, 0.00362124, 0.00285578, 0.001758  , 0.00223427,
        0.00342102, 0.00274982, 0.00216417, 0.00212898, 0.00384879,
        0.00270238]),
 'std_score_time': array([8.06391272e-05, 2.68246226e-05, 3.28376138e-04, 2.63511146e-04,
        8.04181874e-05, 1.08178473e-04, 2.68453332e-04, 4.54163300e-05,
        3.23942685e-05, 4.78026942e-04, 9.88328727e-05, 1.04564920e-04,
        7.23977594e-04, 5.51995612e-04, 8.07572473e-04, 6.66200728e-05]),
 'param_C': masked_array(data=[1, 1, 1, 1, 5, 5, 5, 5, 10, 10, 10, 10, 15, 15, 15, 15],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'poly', 'rbf', 'sigmoid', 'linear', 'poly',
                    'rbf', 'sigmoid', 'linear', 'poly', 'rbf', 'sigmoid',
                    'linear', 'poly', 'rbf', 'sigmoid'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'linear'},
  {'C': 1, 'kernel': 'poly'},
  {'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'sigmoid'},
  {'C': 5, 'kernel': 'linear'},
  {'C': 5, 'kernel': 'poly'},
  {'C': 5, 'kernel': 'rbf'},
  {'C': 5, 'kernel': 'sigmoid'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'poly'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'sigmoid'},
  {'C': 15, 'kernel': 'linear'},
  {'C': 15, 'kernel': 'poly'},
  {'C': 15, 'kernel': 'rbf'},
  {'C': 15, 'kernel': 'sigmoid'}],
 'split0_test_score': array([0.76623377, 0.74025974, 0.76623377, 0.68181818, 0.76623377,
        0.75324675, 0.74675325, 0.65584416, 0.76623377, 0.73376623,
        0.74025974, 0.70779221, 0.76623377, 0.73376623, 0.72727273,
        0.68831169]),
 'split1_test_score': array([0.75974026, 0.77272727, 0.75324675, 0.7012987 , 0.75974026,
        0.76623377, 0.75324675, 0.68831169, 0.75974026, 0.74675325,
        0.74675325, 0.68181818, 0.75974026, 0.75974026, 0.72077922,
        0.66883117]),
 'split2_test_score': array([0.75974026, 0.72077922, 0.74675325, 0.70779221, 0.75974026,
        0.74025974, 0.74675325, 0.70779221, 0.75974026, 0.72727273,
        0.75974026, 0.7012987 , 0.75974026, 0.72077922, 0.73376623,
        0.72077922]),
 'split3_test_score': array([0.81699346, 0.76470588, 0.81045752, 0.71895425, 0.81699346,
        0.77777778, 0.83006536, 0.70588235, 0.81699346, 0.75816993,
        0.79084967, 0.7124183 , 0.81699346, 0.75816993, 0.79084967,
        0.70588235]),
 'split4_test_score': array([0.76470588, 0.74509804, 0.77777778, 0.7254902 , 0.76470588,
        0.75816993, 0.81045752, 0.70588235, 0.76470588, 0.74509804,
        0.81699346, 0.68627451, 0.76470588, 0.73202614, 0.81045752,
        0.69281046]),
 'mean_test_score': array([0.77348273, 0.74871403, 0.77089381, 0.70707071, 0.77348273,
        0.75913759, 0.77745522, 0.69274255, 0.77348273, 0.74221204,
        0.77091928, 0.69792038, 0.77348273, 0.74089636, 0.75662507,
        0.69532298]),
 'std_test_score': array([0.02191107, 0.01842433, 0.02248812, 0.01517908, 0.02191107,
        0.0125684 , 0.03557598, 0.01976322, 0.02191107, 0.01075287,
        0.02887569, 0.01194958, 0.02191107, 0.01541225, 0.0367104 ,
        0.01741728]),
 'rank_test_score': array([ 2, 10,  7, 13,  2,  8,  1, 16,  2, 11,  6, 14,  2, 12,  9, 15],
       dtype=int32)}

In [98]:
print(classifier.best_params_)
print(classifier.best_score_)

{'C': 5, 'kernel': 'rbf'}
0.777455224514048

In [99]:
model=SVC(C= 5, kernel='rbf')

In [100]:
model.fit(X,Y)

SVC(C=5)

Model Evaluation

Accuracy Score

In [101]:
#Accuracy score on training data
predict_train=model.predict(x_train)
train_acc_score=accuracy_score(predict_train,y_train)

In [102]:
print(train_acc_score)

0.8615635179153095

In [103]:
#Accuracy score on test data
predict_test=model.predict(x_test)
test_acc_score=accuracy_score(predict_test,y_test)

In [104]:
print(test_acc_score)

0.8831168831168831

Making a prediction System

In [105]:
input_data=(1,89,66,23,94,28.1,0.167,21)
#changing the input data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we are prerdicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

std_data=scaler.transform(input_data_reshaped)
print(std_data)

predict=model.predict(std_data)
print(predict)

if(predict[0]==0):
  print("Non Diabetic ")
else:
  print("Diabetic")

[[-0.84488505 -0.99820778 -0.16054575  0.15453319  0.12330164 -0.49404308
  -0.92076261 -1.04154944]]
[0]
Non Diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

Saving the trained model

In [106]:
import pickle

In [107]:
filename='trained_model.svc'
pickle.dump(classifier,open(filename,'wb'))

In [108]:
#loading the saved model
loaded_model=pickle.load(open('trained_model.svc','rb'))

In [110]:
input_data=(8,183,64,0,0,23.3,0.672,32)
#changing the input data to numpy array
input_data_as_numpy_array=np.asarray(input_data)

#reshape the array as we are prerdicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)

std_data=scaler.transform(input_data_reshaped)
print(std_data)

predict=loaded_model.predict(std_data)
print(predict)

if(predict[0]==0):
  print("Non Diabetic ")
else:
  print("Diabetic")

[[ 1.23388019  1.94372388 -0.26394125 -1.28821221 -0.69289057 -1.10325546
   0.60439732 -0.10558415]]
[1]
Diabetic

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(